Repository cosmos/peggy, pull requests merged in 2019-10, with the labels that each got.

#67 Add cosmos events to handler
  CHANGELOG.md
  x/ethbridge/handler.go
  x/ethbridge/handler_test.go
  x/ethbridge/types/events.go
Labels: R4R

#63 feat/contract-tooling
  .gitignore
  Makefile
  README.md
  app/app.go
  cmd/ebrelayer/contract/Peggy.sol
  cmd/ebrelayer/contract/PeggyABI.json
  cmd/ebrelayer/contract/abi/Peggy.abi
  cmd/ebrelayer/contract/contract.go
  cmd/ebrelayer/contract/contract_test.go
  cmd/ebrelayer/events/event.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/txs/parser.go
  contrib/devtools/Makefile
  docs/architecture.md
  package.json
  testnet-contracts/.env.example
  testnet-contracts/.gitignore
  testnet-contracts/README.md
  testnet-contracts/contracts/Peggy.sol
  testnet-contracts/contracts/Processor.sol
  testnet-contracts/contracts/TokenERC20.sol
  testnet-contracts/contracts/test/TestToken.sol
  testnet-contracts/migrations/2_next.js
  testnet-contracts/package-lock.json
  testnet-contracts/package.json
  testnet-contracts/scripts/formatAbi.js
  testnet-contracts/scripts/getBridgeContractAddress.js
  testnet-contracts/scripts/getTokenContractAddress.js
  testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/truffle-config.js
  testnet-contracts/truffle.js
  x/ethbridge/client/cli/tx.go
  x/ethbridge/handler.go
  x/ethbridge/module.go
  x/ethbridge/types/msgs.go
  x/oracle/module.go
  yarn.lock
Labels: R4R, contracts

#85 Updated user scripts and infura endpoint
  testnet-contracts/.env.example
  testnet-contracts/scripts/getBridgeContractAddress.js
  testnet-contracts/scripts/getTokenContractAddress.js
  testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/truffle-config.js
Labels: R4R

#68 feat/tag-chain-and-contract
  README.md
  cmd/ebrelayer/contract/abi/Peggy.abi
  cmd/ebrelayer/contract/contract_test.go
  cmd/ebrelayer/events/event.go
  cmd/ebrelayer/relayer/relayer.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/utils/utils.go
  go.sum
  testnet-contracts/scripts/getDeployedAddress.js
  testnet-contracts/scripts/sendLockTx.js
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/querier/querier.go
  x/ethbridge/querier/querier_test.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/querier.go
  x/ethbridge/types/test_common.go
Labels: contracts
