Repository cosmos/peggy, pull requests merged in 2019-11, with the labels that each got.

#83 Dynamic validator set
  testnet-contracts/contracts/Valset.sol
  testnet-contracts/test/test_valset.js
Labels: blocked, contracts

#82 Valset, CosmosBridge, Oracle, and BridgeBank
  CHANGELOG.md
  README.md
  cmd/ebrelayer/contract/Peggy.sol
  cmd/ebrelayer/contract/abi/BridgeBank.abi
  cmd/ebrelayer/contract/abi/CosmosBridge.abi
  cmd/ebrelayer/contract/abi/Oracle.abi
  cmd/ebrelayer/contract/abi/Peggy.abi
  cmd/ebrelayer/contract/abi/Valset.abi
  cmd/ebrelayer/contract/contract.go
  cmd/ebrelayer/contract/contract_test.go
  cmd/ebrelayer/events/event.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/network_test.go
  cmd/ebrelayer/txs/parser.go
  testnet-contracts/.env.example
  testnet-contracts/contracts/BridgeBank/BridgeBank.sol
  testnet-contracts/contracts/BridgeBank/BridgeToken.sol
  testnet-contracts/contracts/BridgeBank/CosmosBank.sol
  testnet-contracts/contracts/BridgeBank/EthereumBank.sol
  testnet-contracts/contracts/BridgeRegistry.sol
  testnet-contracts/contracts/CosmosBridge.sol
  testnet-contracts/contracts/Oracle.sol
  testnet-contracts/contracts/Peggy.sol
  testnet-contracts/contracts/Processor.sol
  testnet-contracts/contracts/TokenERC20.sol
  testnet-contracts/contracts/Valset.sol
  testnet-contracts/contracts/test/TestProcessor.sol
  testnet-contracts/contracts/test/TestToken.sol
  testnet-contracts/migrations/2_next.js
  testnet-contracts/package.json
  testnet-contracts/scripts/formatAbi.js
  testnet-contracts/scripts/getBridgeAddress.js
  testnet-contracts/scripts/getBridgeRegistryAddress.js
  testnet-contracts/scripts/getTokenContractAddress.js
  testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/test/helpers/helpers.js
  testnet-contracts/test/test_bridgeBank.js
  testnet-contracts/test/test_cosmosBridge.js
  testnet-contracts/test/test_oracle.js
  testnet-contracts/test/test_peggy.js
  testnet-contracts/test/test_processor.js
  testnet-contracts/test/test_valset.js
Labels: blocked, contracts

#89 Dynamic validator set (rebased to master)
  CHANGELOG.md
  cmd/ebrelayer/contract/abi/Valset.abi
  testnet-contracts/.env.example
  testnet-contracts/contracts/Valset.sol
  testnet-contracts/test/test_valset.js
Labels: R4R, contracts

#71 Dockerize validator and relayer for simple testing purposes
  CHANGELOG.md
  Makefile
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/relayer.go
  cmd/ebrelayer/txs/relay.go
  deploy/test/.env
  deploy/test/Dockerfile
  deploy/test/docker-compose.yml
  deploy/test/test_validator_key
Labels: R4R, build

#79 Add messages to burn coins through the bridge and emit events
  .golangci.yml
  CHANGELOG.md
  README.md
  app/app.go
  x/ethbridge/alias.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler.go
  x/ethbridge/handler_test.go
  x/ethbridge/module.go
  x/ethbridge/querier/querier_test.go
  x/ethbridge/test_common.go
  x/ethbridge/types/codec.go
  x/ethbridge/types/events.go
  x/ethbridge/types/msg_burn.go
  x/ethbridge/types/msg_create_eth_bridge_claim.go
  x/ethbridge/types/test_common.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/test_common.go
Labels: R4R

#90 update ethbridge to latest SDK
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  Makefile
  app/app.go
  app/genesis.go
  cmd/ebcli/main.go
  cmd/ebd/genaccounts.go
  cmd/ebd/main.go
  go.mod
  go.sum
  x/oracle/keeper/test_common.go
Labels: R4R
